{% extends "base.html" %}
{% block title %}Editando Usuário{% endblock %}
{% block content %}
    
    <div class="page-header">
        <h1>Editando: {{ user.nome }}</h1>
        <a href="{{ url_for('atualizar_lista') }}" class="btn btn-outline">
            <i class="fa-solid fa-arrow-left"></i> Voltar para a Lista
        </a>
    </div>

    <div class="form-card">
        <form method="POST">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="{{ user.nome }}" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" required>
            </div>
            
            <div style="margin-top: 30px;">
                <button type="submit" class="btn btn-warning"><i class="fa-solid fa-arrows-rotate"></i> Salvar Alterações</button>
            </div>
        </form>
    </div>
{% endblock %}
